/* GLOBAL IMPORTS */

@import 'nib'


/* VARIABLES */

font = "Oswald", sans-serif

color1 = #00c853

grey = #ddd


/* RESETS */

html, html *
  font-family font
  margin 0
  padding 0

h1
  font-size 36px
h2
  font-size 28px
h3
  font-size 24px
h4
  font-size 20px
h5
  font-size 16px
p
  font-size 14px



#toast-container > .toast-info
  opacity 1 !important
  background-image none !important
  padding 10px
  background-color #000
  width auto
  max-width 100%

  *
    font-family "Roboto" !important
    font-weight 400
    font-size 14px
    color #ddd

  strong
    color #fff


/* TEMPLATE IMPORTS */

@import 'styles/loading.styl'
@import 'styles/home.styl'
@import 'styles/editPhoto.styl'
@import 'styles/finalPhoto.styl'
