.photo-tools
  position absolute
  left 0
  bottom 0
  top 0
  background-color transparent
  z-index 999
  list-style none
  padding 10px
  margin 0
  display flex
  flex-flow column nowrap

  li
    display flex
    flex-flow column nowrap
    margin 5px
    background-color #eee
    border-radius 5px
    padding 10px

    *
      margin auto

    &.title
      font-weight 900
      text-transform uppercase
      margin 0
      margin-top 20px
      padding 5px
      background-color transparent

    &.action
      font-size 12px
      max-width 100px
      text-align center

      &:hover
        background-color #fff
        cursor pointer

      i
        font-size 18px
        margin 5px auto

        &.hide
          opacity 0


.photo-wrap
  background-size contain
  background-repeat no-repeat
  background-position center center
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  width 100vw
  height 100vh
  box-sizing border-box
  display flex
  flex-flow column nowrap
  justify-content center
  background-color #ddd

  .photo
    background-position center center
    background-size cover
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 1

  .photo-inner
    box-shadow 2px 4px 6px rgba(0,0,0,0.2)
    flex 0 0 auto
    width 500px
    height 500px
    max-width 100%
    margin 20px auto
    position relative

    .overlay
      background-color rgba(0,0,0,0.6)
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 99
      width 100%
      display flex
      flex-flow column nowrap
      justify-content center
      overflow hidden
      text-overflow ellipsis
      padding 40px
      box-sizing border-box

      &.light
        background-color rgba(255,255,255,0.6)

      .add-text-button
        background-color #1bb23a
        text-transform uppercase
        padding 20px 40px
        color #fff
        margin auto
        font-weight 700
        border-radius 100px

        &:hover
          background-color darken(#1bb23a, 15%)
          cursor pointer

      #caption
        flex 0 0 auto
        margin 0px
        color #fff
        text-transform uppercase
        font-weight 900
        line-height 1
        oveflow hidden
        text-overflow ellipsis

        &.light
          color #000

    .captionizer-icon
      position absolute
      bottom 0
      right 0
      margin 2px
      transform scale(0.5)

      .fa-sticky-note
        color #aaa
      .fa-bolt
        color #333

      &.light
        .fa-sticky-note
          color #888
        .fa-bolt
          color #ddd
