.captionizer-title
  position absolute
  bottom 10px
  left 10px
  text-transform uppercase
  z-index 99999
  color #333
  font-size 20px
  font-weight 700
  margin 0
  display none !important

  @media (max-width: 600px)
    left -200px

  i
    font-size 75%
    margin auto 5px

    &:hover
      cursor pointer
      color #aaa

.tools-toggle
  display none

  @media (max-width: 600px)
    display none
    position fixed
    top 10px
    left 0px
    z-index 99999
    background-color #222
    color #aaa
    padding 20px
    text-transform uppercase
    border-top-right-radius 5px
    border-bottom-right-radius 5px

    i
      margin-right 5px

.photo-tools
  user-select none
  position absolute
  left 0
  bottom 0
  top 0
  width auto
  background-color #ededed
  z-index 999
  list-style none
  padding 0px
  margin 0
  display flex
  flex-flow column nowrap
  overflow-x hidden
  overflow-y auto
  transition 200ms ease-in

  @media (max-width: 600px)
    bottom auto
    right 0
    width 100%
    height 80px
    flex-flow row nowrap
    overflow-y hidden
    overflow-x auto

  &.disabled
    transform translate(-100%)
    pointer-events none
    transition 200ms ease-in

    @media (max-width: 600px)
      transform translate(0,-100%)

  li
    display flex
    flex-flow column nowrap
    margin 5px 0
    margin-left auto
    background-color transparent
    border-radius 0px
    padding 20px
    width 100%
    flex 0 0 auto

    @media (max-width: 600px)
      width auto
      margin 0 5px
      background-color transparent

    &:last-of-type
      margin-bottom 50px

      @media (max-width: 600px)
        margin-bottom 0

    *
      margin auto

    &.title
      font-weight 400
      text-transform uppercase
      margin 0
      text-align center
      margin-top 20px
      padding 5px 15px
      box-sizing border-box
      background-color transparent
      flex-flow row nowrap
      justify-content center
      color #aaa

      @media (max-width: 600px)
        display none

    &.back-to-upload
      font-size 80%
      font-weight 400
      border-radius 0
      color #1bb23a

      @media (max-width: 600px)
        display flex
        flex-flow column nowrap
        justify-content center
        margin-top 0
        padding-left 20px
        font-size 12px

        i
          margin 5px auto
          font-size 18px

      &:hover
        cursor pointer

      i
        margin-right 5px
        margin-left 0

    &.action
      flex 0 0 auto
      font-size 12px
      margin 0
      box-sizing border-box
      text-align center
      color #111
      transition 150ms ease-in

      &:hover
        background-color #fff
        cursor pointer
        transition 150ms ease-in

      i
        font-size 18px
        margin 5px auto

        &.hide
          opacity 0

.photo-wrap
  background-size contain
  background-repeat no-repeat
  background-position center center
  position fixed
  top 0
  left 0
  right 0
  width 100vw
  height 100vh
  box-sizing border-box
  display flex
  flex-flow column nowrap
  justify-content flex-start
  background-color #fff
  overflow scroll
  transition 200ms ease-in

  &.enabled
    padding-left 0
    transition 200ms ease-in

  &.snapped
    width 612px
    height 612px
    right auto
    padding-left 0
    display block
    background-color transparent
    position relative

  @media (max-width: 600px)
    padding-left 0
    padding-top 80px

    &.enabled
      padding-top 0
      transition 200ms ease-in

    &.snapped
      padding-top 0

  .photo
    background-position center center
    background-size cover
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 1

    &.snapped
      top 0
      left 0
      width 612px
      height 612px
      bottom auto
      right auto

  #photo-inner
    box-shadow 2px 4px 6px rgba(0,0,0,0.2)
    flex 0 0 auto
    width 50vw
    height 50vw
    max-width 100%
    margin auto auto
    position relative
    overflow visible

    &.snapped
      width 612px
      height 612px
      max-width 612px
      min-width 612px
      margin 0
      box-shadow none
      position relative

    @media (max-width: 600px)
      width 80vw
      height 80vw
      margin 20px auto

      &.snapped
        width 612px
        height 612px
        max-width 612px
        min-width 612px
        margin 0
        box-shadow none

    .overlay
      background-color rgba(0,0,0,0.6)
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 99
      width 100%
      display flex
      flex-flow column nowrap
      justify-content center
      overflow visible
      text-overflow ellipsis
      padding 40px
      box-sizing border-box

      &.light
        background-color rgba(255,255,255,0.6)

      &.no-bg
        background-color rgba(255,255,255,0)

      .add-text-button
        background-color #1bb23a
        text-transform capitalize
        padding 20px 40px
        color #fff
        margin auto
        font-weight 400
        border-radius 100px

        &:hover
          background-color darken(#1bb23a, 15%)
          cursor pointer

      #caption
        flex 0 0 auto
        margin 0px
        color #fff
        text-transform uppercase
        line-height 1
        oveflow hidden
        text-overflow ellipsis
        outline none

        &.light
          color #000

        &.no-bg
          color #fff

    .captionizer-icon
      position absolute
      right 10px
      bottom 5px
      margin 0
      transform scale(0.8)

      &.snapped
        position absolute
        top 575px
        left 585px
        margin 0
        box-shadow none
        transform scale(1)
        bottom auto
        right auto

      .fa-bolt
        color #aaa

      &.light
        .fa-bolt
          color #555

      &.no-bg
        .fa-bolt
          color #fff

#modal
  position fixed
  top 0px
  left 0px
  width 612px
  height 612px
  background-color transparent
  z-index 999999999999
  overflow scroll
  pointer-events none



.save-pic
  position fixed
  bottom 20px
  right 20px
  z-index 99999
  width 70px
  height 70px
  border-radius 70px
  background-color #1bb23a
  display flex
  flex-flow column nowrap
  box-shadow 2px 4px 6px rgba(0,0,0,0.25)
  transition 150ms ease-in

  i
    margin auto
    font-size 30px
    color #fff

  &:hover
    width 80px
    height 80px
    bottom 15px
    right 15px
    transition 150ms ease-in
    cursor pointer
    border-radius 80px
    background-color darken(#1bb23a, 15%)


.finalizing
  background-color #fff
  display flex
  flex-flow column nowrap
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  width 100vw
  height 100vh
  justify-content center
  display none
  z-index 99999999

  span
    margin 0 auto
    margin-top 40px
    color #333
    text-transform uppercase

  .spinner
    margin 0px auto 0
    width 70px
    text-align center

  .spinner > div
    width 18px
    height 18px
    background-color #1bb23a
    border-radius 100%
    display inline-block
    -webkit-animation sk-bouncedelay 1.4s infinite ease-in-out both
    animation sk-bouncedelay 1.4s infinite ease-in-out both


  .spinner .bounce1
    -webkit-animation-delay -0.32s
    animation-delay -0.32s


  .spinner .bounce2
    -webkit-animation-delay -0.16s
    animation-delay -0.16s


@-webkit-keyframes sk-bouncedelay
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }


@keyframes sk-bouncedelay
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
