.upload-wrap
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  width 100vw
  height 100vh
  display flex
  flex-flow column nowrap
  background-color #fff
  justify-content flex-start
  overflow-x hidden
  overflow-y auto
  padding 0px
  padding-top 100px
  box-sizing border-box

  .captionizer-icon
    margin 0 auto
    transform scale(3)

    .fa-bolt
      color #111


  h1
    text-transform uppercase
    margin 10px auto
    margin-top 20px
    padding 20px
    box-sizing border-box

  p
    width 400px
    text-align center
    max-width 100%
    margin 0px auto
    margin-bottom 20px
    padding 0px 20px
    box-sizing border-box
    font-weight 300
    font-size 20px
    font-family "Roboto"

  .upload
    background-color #1bb23a
    color #fff
    padding 20px 40px
    position relative
    margin 20px auto
    border-radius 100px
    text-transform capitalize
    font-weight 400

    i
      margin-right 5px

    &:hover
      background-color darken(#1bb23a, 15%)

    input
      opacity 0
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      width 100%

      &:hover
        cursor pointer
