<template name="finalPhoto">
  <div class="upload-wrap final">
    <span class="back-to-editor"><i class="fa fa-long-arrow-left"></i> Back To Editor</span>
    <h1>
      Thanks for using
      <span><i class="fa fa-bolt"></i> Captionizer</span>
    </h1>

    <div>
      <ul>
        <li class="download"><a target="_top" href="{{url download=true filename='captionized.png'}}"><i class="fa fa-download"></i> Download Photo</a></li>
        <li class="make-another"><i class="fa fa-photo"></i> Make Another</li>
      </ul>
      <img src="{{url}}" alt="" />
    </div>


    <div class="copyright">
      &copy; 2015 Captionizer.
    </div>

  </div>
</template>
