<template name="home">

  <div class="upload-wrap">

    <span class="captionizer-icon {{#if isLight}}light{{/if}}">
        <i class="fa fa-bolt"></i>
    </span>

    <h1>Captionizer</h1>

    <p>
      The easiest way to add stunning text captions to your Instagram photos.
    </p>

    {{#if isUploading}}
      uploading...
    {{else}}

    <div class="upload">
      <i class="fa fa-photo"></i> Choose Photo
      <input type="file" name="testImg" class="myFileInput">
    </div>

    {{/if}}


  </div>


</template>
