<template name="home">

  <div class="upload-wrap">

    <span class="captionizer-icon {{#if isLight}}light{{/if}}">
        <i class="fa fa-bolt"></i>
    </span>

    <h1>Captionizer</h1>

    <p>
      Add beautiful text captions to your photos in seconds.
    </p>

    {{#if isUploading}}
      uploading...
    {{else}}

    <div class="upload">
      <i class="fa fa-photo"></i> Choose Photo
      <input type="file" name="testImg" class="myFileInput">
    </div>

    {{/if}}

    <div class="copyright">
      &copy; 2015 Captionizer.
    </div>


  </div>


</template>
